@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Dancing+Script:wght@600&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

#container {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);  /* 0.9 is 90% visible */;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loveMessage {
    text-align: center;
    font-size: 18px; 
    font-style: italic;
}

.heart {
    font-size: 20px;
    color: #ff0000;
    animation: heartbeat 1.5s infinite;
}

#smalltitle {
    font-size: 15px;
    font-weight: 500;
    color: #ff6b6b;
}

#top-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    border-bottom: 2px solid rgba(255, 107, 107, 0.2);  /* Subtle separator */
}

#image {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 20px;
}

@keyframes heartbeat {
    0%, 100%   { transform: scale(1); }
    50%        { transform: scale(1.3); }
}